In [127]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [128]:

df = pd.read_csv(r'C:\Users\hp\Desktop\project_intern\New folder\B13-ExoHabitAI\data\raw\raw_data.csv',
				 engine='python',
				 sep=None,
				 on_bad_lines='skip',
				 encoding='utf-8')

In [129]:
df.head()

,rowid,pl_name,hostname,pl_letter,hd_name,hip_name,tic_id,gaia_dr2_id,gaia_dr3_id,default_flag,...,rowupdate,pl_pubdate,releasedate,pl_nnotes,st_nphot,st_nrvc,st_nspec,pl_nespec,pl_ntranspec,pl_ndispec
0,1,11 Com b,11 Com,b,HD 107383,HIP 60202,TIC 72437047,Gaia DR2 3946945413106333696,Gaia DR3 3946945413106333696,1,...,2023-09-19,2023-08,2023-09-19,2,1,2,0,0,0,0
1,2,11 Com b,11 Com,b,HD 107383,HIP 60202,TIC 72437047,Gaia DR2 3946945413106333696,Gaia DR3 3946945413106333696,0,...,2014-05-14,2008-01,2014-05-14,2,1,2,0,0,0,0
2,3,11 Com b,11 Com,b,HD 107383,HIP 60202,TIC 72437047,Gaia DR2 3946945413106333696,Gaia DR3 3946945413106333696,0,...,2014-07-23,2011-08,2014-07-23,2,1,2,0,0,0,0
3,4,11 UMi b,11 UMi,b,HD 136726,HIP 74793,TIC 230061010,Gaia DR2 1696798367260229376,Gaia DR3 1696798367260229376,1,...,2018-09-04,2017-03,2018-09-06,0,1,1,0,0,0,0
4,5,11 UMi b,11 UMi,b,HD 136726,HIP 74793,TIC 230061010,Gaia DR2 1696798367260229376,Gaia DR3 1696798367260229376,0,...,2018-04-25,2011-08,2014-07-23,0,1,1,0,0,0,0

In [130]:
df.shape

(39315, 289)

In [131]:
df.describe()

,rowid,default_flag,sy_snum,sy_pnum,sy_mnum,cb_flag,disc_year,rv_flag,pul_flag,ptv_flag,...,sy_kepmag,sy_kepmagerr1,sy_kepmagerr2,pl_nnotes,st_nphot,st_nrvc,st_nspec,pl_nespec,pl_ntranspec,pl_ndispec
count,39315.000000,39315.000000,39315.000000,39315.000000,39315.0,39315.000000,39313.000000,39315.000000,39315.000000,39315.000000,...,31178.000000,0.0,0.0,39315.000000,39315.000000,39315.000000,39315.000000,39315.000000,39315.000000,39315.000000
mean,19658.000000,0.155157,1.085133,1.918199,0.0,0.002416,2015.549513,0.251685,0.000331,0.000051,...,14.111202,NaN,NaN,1.022816,0.475238,0.196541,0.110390,0.260410,0.219941,0.005570
std,11349.407253,0.362059,0.308189,1.238170,0.0,0.049098,4.018659,0.433987,0.018181,0.007132,...,1.440343,NaN,NaN,1.124726,3.822992,0.887678,0.777882,1.920442,1.626828,0.154939
min,1.000000,0.000000,1.000000,1.000000,0.0,0.000000,1992.000000,0.000000,0.000000,0.000000,...,5.973000,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,9829.500000,0.000000,1.000000,1.000000,0.0,0.000000,2014.000000,0.000000,0.000000,0.000000,...,13.353000,NaN,NaN,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,19658.000000,0.000000,1.000000,1.000000,0.0,0.000000,2016.000000,0.000000,0.000000,0.000000,...,14.415000,NaN,NaN,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,29486.500000,0.000000,1.000000,2.000000,0.0,0.000000,2016.000000,1.000000,0.000000,0.000000,...,15.212000,NaN,NaN,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,39315.000000,1.000000,4.000000,8.000000,0.0,1.000000,2026.000000,1.000000,1.000000,1.000000,...,17.475000,NaN,NaN,16.000000,70.000000,12.000000,13.000000,35.000000,32.000000,6.000000

In [ ]:
(df.isna().sum() / len(df) * 100).sort_values(ascending=False)

In [ ]:
# One row per planet
# Removes duplicates automatically
df = df[df["default_flag"] == 1]

In [ ]:
plt.figure(figsize=(12, 8))
sns.heatmap(df.isnull(), cbar=True,cmap = 'viridis')
plt.title('Missing Value Heatmap')
plt.tight_layout()
plt.show()

In [ ]:
missing_percent = df.isnull().mean()
cols_to_drop = missing_percent[missing_percent > 0.40].index

print("Columns dropped (>40% missing):")
print(cols_to_drop)

df = df.drop(columns=cols_to_drop)

In [ ]:
# Drop irrelevant columns
drop_cols = [
    "rowid","pl_name","hd_name","hip_name","tic_id",
    "gaia_dr2_id","gaia_dr3_id",
    "disc_refname","pl_refname","st_refname","sy_refname",
    "rastr","ra","decstr","dec","glat","glon","elat","elon"
]
df = df.drop(columns=[col for col in drop_cols if col in df.columns])

In [ ]:
selected_features = [
    "discoverymethod","disc_year"
    
    # Planetary
    "pl_orbper","pl_orbsmax","pl_rade","pl_masse",
    "pl_dens","pl_insol","pl_eqt",

    # Stellar
    "st_teff","st_rad","st_mass","st_lum","st_met","st_spectype"
]
df = df[[col for col in selected_features if col in df.columns]]

In [ ]:
# Remove physically impossible values
df = df[df["pl_rade"] > 0]
df = df[df["pl_masse"] > 0]
df = df[df["st_teff"] > 0]

In [ ]:
df.shape

In [ ]:
num_cols = df.select_dtypes(include=np.number).columns

In [ ]:
num_cols

In [ ]:
cat_cols = df.select_dtypes(exclude=np.number).columns
cat_cols

### Handling Missing Values

In [ ]:
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.impute import SimpleImputer

In [ ]:
# For numerical features, we can use the median for imputation
num_imputer = SimpleImputer(strategy="median")
df[num_cols] = num_imputer.fit_transform(df[num_cols])

In [ ]:
# For categorical features, we can use the most frequent value for imputation
cat_imputer = SimpleImputer(strategy="most_frequent")
df[cat_cols] = cat_imputer.fit_transform(df[cat_cols])

In [ ]:
df