In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
df = pd.read_csv(
    r'C:\Users\konal\OneDrive\Documents\GitHub\B13-ExoHabitAI\data\raw\RawData.csv',low_memory=False)

In [15]:
df.shape

(39315, 289)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39315 entries, 0 to 39314
Columns: 289 entries, rowid to pl_ndispec
dtypes: float64(236), int64(25), object(28)
memory usage: 86.7+ MB

In [9]:
df.head()

,rowid,pl_name,hostname,pl_letter,hd_name,hip_name,tic_id,gaia_dr2_id,gaia_dr3_id,default_flag,...,rowupdate,pl_pubdate,releasedate,pl_nnotes,st_nphot,st_nrvc,st_nspec,pl_nespec,pl_ntranspec,pl_ndispec
0,1,11 Com b,11 Com,b,HD 107383,HIP 60202,TIC 72437047,Gaia DR2 3946945413106333696,Gaia DR3 3946945413106333696,1,...,2023-09-19,2023-08,2023-09-19,2,1,2,0,0,0,0
1,2,11 Com b,11 Com,b,HD 107383,HIP 60202,TIC 72437047,Gaia DR2 3946945413106333696,Gaia DR3 3946945413106333696,0,...,2014-05-14,2008-01,2014-05-14,2,1,2,0,0,0,0
2,3,11 Com b,11 Com,b,HD 107383,HIP 60202,TIC 72437047,Gaia DR2 3946945413106333696,Gaia DR3 3946945413106333696,0,...,2014-07-23,2011-08,2014-07-23,2,1,2,0,0,0,0
3,4,11 UMi b,11 UMi,b,HD 136726,HIP 74793,TIC 230061010,Gaia DR2 1696798367260229376,Gaia DR3 1696798367260229376,1,...,2018-09-04,2017-03,2018-09-06,0,1,1,0,0,0,0
4,5,11 UMi b,11 UMi,b,HD 136726,HIP 74793,TIC 230061010,Gaia DR2 1696798367260229376,Gaia DR3 1696798367260229376,0,...,2018-04-25,2011-08,2014-07-23,0,1,1,0,0,0,0

In [17]:
pd.set_option('display.max_columns', None)
df.columns

Index(['rowid', 'pl_name', 'hostname', 'pl_letter', 'hd_name', 'hip_name',
       'tic_id', 'gaia_dr2_id', 'gaia_dr3_id', 'default_flag',
       ...
       'rowupdate', 'pl_pubdate', 'releasedate', 'pl_nnotes', 'st_nphot',
       'st_nrvc', 'st_nspec', 'pl_nespec', 'pl_ntranspec', 'pl_ndispec'],
      dtype='object', length=289)

In [10]:
df.describe()

,rowid,default_flag,sy_snum,sy_pnum,sy_mnum,cb_flag,disc_year,rv_flag,pul_flag,ptv_flag,...,sy_kepmag,sy_kepmagerr1,sy_kepmagerr2,pl_nnotes,st_nphot,st_nrvc,st_nspec,pl_nespec,pl_ntranspec,pl_ndispec
count,39315.000000,39315.000000,39315.000000,39315.000000,39315.0,39315.000000,39313.000000,39315.000000,39315.000000,39315.000000,...,31178.000000,0.0,0.0,39315.000000,39315.000000,39315.000000,39315.000000,39315.000000,39315.000000,39315.000000
mean,19658.000000,0.155157,1.085133,1.918199,0.0,0.002416,2015.549513,0.251685,0.000331,0.000051,...,14.111202,NaN,NaN,1.022816,0.475238,0.196541,0.110390,0.260410,0.219941,0.005570
std,11349.407253,0.362059,0.308189,1.238170,0.0,0.049098,4.018659,0.433987,0.018181,0.007132,...,1.440343,NaN,NaN,1.124726,3.822992,0.887678,0.777882,1.920442,1.626828,0.154939
min,1.000000,0.000000,1.000000,1.000000,0.0,0.000000,1992.000000,0.000000,0.000000,0.000000,...,5.973000,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,9829.500000,0.000000,1.000000,1.000000,0.0,0.000000,2014.000000,0.000000,0.000000,0.000000,...,13.353000,NaN,NaN,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,19658.000000,0.000000,1.000000,1.000000,0.0,0.000000,2016.000000,0.000000,0.000000,0.000000,...,14.415000,NaN,NaN,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,29486.500000,0.000000,1.000000,2.000000,0.0,0.000000,2016.000000,1.000000,0.000000,0.000000,...,15.212000,NaN,NaN,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,39315.000000,1.000000,4.000000,8.000000,0.0,1.000000,2026.000000,1.000000,1.000000,1.000000,...,17.475000,NaN,NaN,16.000000,70.000000,12.000000,13.000000,35.000000,32.000000,6.000000

In [16]:
df.isna().sum()

rowid                   0
pl_name                 0
hostname                0
pl_letter               0
hd_name             36395
hip_name            36119
tic_id                792
gaia_dr2_id          1094
gaia_dr3_id          1336
default_flag            0
sy_snum                 0
sy_pnum                 0
sy_mnum                 0
cb_flag                 0
discoverymethod         0
disc_year               2
disc_refname            0
disc_pubdate            0
disc_locale             0
disc_facility           0
disc_telescope          0
disc_instrument         0
rv_flag                 0
pul_flag                0
ptv_flag                0
tran_flag               0
ast_flag                0
obm_flag                0
micro_flag              0
etv_flag                0
ima_flag                0
dkin_flag               0
soltype                 0
pl_controv_flag         0
pl_refname              0
pl_orbper            3304
pl_orbpererr1        5007
pl_orbpererr2        5008
pl_orbperlim         3304
pl_orbsmax          17314
pl_orbsmaxerr1      31783
pl_orbsmaxerr2      31784
pl_orbsmaxlim       14528
pl_rade             12195
pl_radeerr1         12937
pl_radeerr2         12937
pl_radelim           9450
pl_radj             12195
pl_radjerr1         12937
pl_radjerr2         12937
pl_radjlim          12195
pl_masse            34503
pl_masseerr1        34935
pl_masseerr2        34935
pl_masselim         34471
pl_massj            34503
pl_massjerr1        34935
pl_massjerr2        34935
pl_massjlim         34471
pl_msinie           36724
pl_msinieerr1       36992
pl_msinieerr2       36992
pl_msinielim        36724
pl_msinij           36726
pl_msinijerr1       36999
pl_msinijerr2       36999
pl_msinijlim        36726
pl_cmasse           39227
pl_cmasseerr1       39231
pl_cmasseerr2       39231
pl_cmasselim        39227
pl_cmassj           39227
pl_cmassjerr1       39231
pl_cmassjerr2       39231
pl_cmassjlim        39227
pl_bmasse           32164
pl_bmasseerr1       32828
pl_bmasseerr2       32828
pl_bmasselim        32164
pl_bmassj           32165
pl_bmassjerr1       32834
pl_bmassjerr2       32834
pl_bmassjlim        32165
pl_bmassprov        32164
pl_dens             36558
pl_denserr1         36685
pl_denserr2         36685
pl_denslim          36558
pl_orbeccen         20562
pl_orbeccenerr1     35573
pl_orbeccenerr2     35574
pl_orbeccenlim      17819
pl_insol            22158
pl_insolerr1        23517
pl_insolerr2        23517
pl_insollim         17100
pl_eqt              22057
pl_eqterr1          36748
pl_eqterr2          36748
pl_eqtlim           19314
pl_orbincl          21932
pl_orbinclerr1      35197
pl_orbinclerr2      35195
pl_orbincllim       19189
pl_tranmid           8733
pl_tranmiderr1       9221
pl_tranmiderr2       9221
pl_tranmidlim        8733
pl_tsystemref        7961
ttv_flag                0
pl_imppar           22114
pl_impparerr1       22377
pl_impparerr2       22377
pl_impparlim        19371
pl_trandep          21223
pl_trandeperr1      25802
pl_trandeperr2      25802
pl_trandeplim       18480
pl_trandur          17064
pl_trandurerr1      21651
pl_trandurerr2      21652
pl_trandurlim       14330
pl_ratdor           22107
pl_ratdorerr1       22195
pl_ratdorerr2       22195
pl_ratdorlim        19364
pl_ratror           17810
pl_ratrorerr1       18128
pl_ratrorerr2       18128
pl_ratrorlim        15065
pl_occdep           39267
pl_occdeperr1       39270
pl_occdeperr2       39270
pl_occdeplim        39267
pl_orbtper          37573
pl_orbtpererr1      37630
pl_orbtpererr2      37630
pl_orbtperlim       37573
pl_orblper          35774
pl_orblpererr1      36203
pl_orblpererr2      36203
pl_orblperlim       19917
pl_rvamp            34558
pl_rvamperr1        34687
pl_rvamperr2        34687
pl_rvamplim         34558
pl_projobliq        39049
pl_projobliqerr1    39051
pl_projobliqerr2    39051
pl_projobliqlim     39049
pl_trueobliq        39246
pl_trueobliqerr1    39252
pl_trueobliqerr2    39252
pl_trueobliqlim     39246
st_refname            401
st_spectype         36394
st_teff              3502
st_tefferr1          4264
st_tefferr2          4524
st_tefflim           3502
st_rad               3268
st_raderr1           8817
st_raderr2           8970
st_radlim            3268
st_mass              6131
st_masserr1         11553
st_masserr2         11708
st_masslim           6124
st_met              14491
st_meterr1          15164
st_meterr2          15164
st_metlim           12180
st_metratio         14688
st_lum              29623
st_lumerr1          34535
st_lumerr2          34590
st_lumlim           29623
st_logg              8795
st_loggerr1         14100
st_loggerr2         14101
st_logglim           8795
st_age              29639
st_ageerr1          30088
st_ageerr2          30088
st_agelim           18263
st_dens             16964
st_denserr1         21671
st_denserr2         21671
st_denslim          14651
st_vsin             35906
st_vsinerr1         36683
st_vsinerr2         36871
st_vsinlim          35906
st_rotp             38241
st_rotperr1         38408
st_rotperr2         38408
st_rotplim          38241
st_radv             37540
st_radverr1         37580
st_radverr2         37721
st_radvlim          37540
sy_refname              0
rastr                   0
ra                      0
decstr                  0
dec                     0
glat                    0
glon                    0
elat                    0
elon                    0
sy_pm                 935
sy_pmerr1             935
sy_pmerr2             940
sy_pmra               935
sy_pmraerr1           935
sy_pmraerr2           940
sy_pmdec              935
sy_pmdecerr1          935
sy_pmdecerr2          940
sy_dist               846
sy_disterr1          1703
sy_disterr2          1703
sy_plx               2417
sy_plxerr1           2417
sy_plxerr2           2417
sy_bmag              1458
sy_bmagerr1          1463
sy_bmagerr2          1463
sy_vmag               812
sy_vmagerr1           825
sy_vmagerr2           826
sy_jmag               846
sy_jmagerr1           944
sy_jmagerr2           944
sy_hmag               817
sy_hmagerr1           955
sy_hmagerr2           955
sy_kmag               820
sy_kmagerr1          1062
sy_kmagerr2          1062
sy_umag             35303
sy_umagerr1         35303
sy_umagerr2         35303
sy_gmag             35303
sy_gmagerr1         35303
sy_gmagerr2         35303
sy_rmag             35303
sy_rmagerr1         35303
sy_rmagerr2         35303
sy_imag             35303
sy_imagerr1         35303
sy_imagerr2         35303
sy_zmag             35303
sy_zmagerr1         35303
sy_zmagerr2         35303
sy_w1mag             2846
sy_w1magerr1         2942
sy_w1magerr2         2942
sy_w2mag             2845
sy_w2magerr1         2925
sy_w2magerr2         2925
sy_w3mag             2847
sy_w3magerr1        12396
sy_w3magerr2        12396
sy_w4mag             2850
sy_w4magerr1        33518
sy_w4magerr2        33518
sy_gaiamag           1110
sy_gaiamagerr1       1110
sy_gaiamagerr2       1110
sy_icmag            39270
sy_icmagerr1        39275
sy_icmagerr2        39275
sy_tmag               807
sy_tmagerr1           818
sy_tmagerr2           818
sy_kepmag            8137
sy_kepmagerr1       39315
sy_kepmagerr2       39315
rowupdate               1
pl_pubdate              0
releasedate             0
pl_nnotes               0
st_nphot                0
st_nrvc                 0
st_nspec                0
pl_nespec               0
pl_ntranspec            0
pl_ndispec              0
dtype: int64